@using Final_Project.Helpers;

@model Paginate<UnudulmazlarListVM>

@{
    ViewData["Title"] = "Index";
    Layout = null;
    int take = ViewBag.take;
    int count = (Model.CurrentPage - 1) * take + 1;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unudulmazlar</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/unudulmazlar/unudulmazlar.css">
    <link rel="stylesheet" href="~/css/home/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
</head>

<body>

    <header>

        <section id="navbar-area">
            <nav class="navbar navbar-expand-lg navbar-dark  black-nav navbar-desktop">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                            aria-controls="offcanvasNavbar">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                         aria-labelledby="offcanvasNavbarLabel">
                        <div class="offcanvas-header">
                            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                    aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
                            <ul class="btn">
                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Home" asp-action="Index">ƏSAS SƏHİFƏ</a>

                                </li>

                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Unudulmazlar" asp-action="Index">UNUDULMAZLAR</a>
                                    <ul class="submenu shop">
                                        <li><a asp-controller="Unudulmazlar" asp-action="Index">ŞƏHİDLƏR</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">GİRİŞ</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">QEYDİYYAT</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-a" asp-controller="Product" asp-action="Index">MAĞAZA</a></li>
                                <li><a class="nav-a" asp-controller="Blog" asp-action="Index">BLOGLAR</a></li>
                                <li> <a class="nav-a" asp-controller="About" asp-action="Index">HAQQIMIZDA</a> </li>
                                <li><a class="nav-a" asp-controller="Contact" asp-action="Index">BİZİMLƏ ƏLAQƏ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </section>

        <section id="scroll-section">
            <nav class="navbar navbar-expand-lg navbar-dark  black-nav navbar-desktop">
                <div class="container inActive">
                    <div class="head">
                        <img src="~/img/Participant_of_the_Patriotic_War_medal.png" style="width: 60px;" alt="">
                    </div>
                    <div class="offcanvas-body scroll-body">

                        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                                aria-controls="offcanvasNavbar">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                             aria-labelledby="offcanvasNavbarLabel">
                            <div class="offcanvas-header">
                                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                                        aria-label="Close"></button>
                            </div>

                            <ul class="btn">
                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Home" asp-action="Index">ƏSAS SƏHİFƏ</a>

                                </li>

                                <li>
                                    <a class="nav-a dropdown-btnn" asp-controller="Unudulmazlar" asp-action="Index">UNUDULMAZLAR</a>
                                    <ul class="submenu shop">
                                        <li><a asp-controller="Unudulmazlar" asp-action="Index">ŞƏHİDLƏR</a></li>
                                        <li><a asp-controller="Account" asp-action="Login">GİRİŞ</a></li>
                                        <li><a asp-controller="Account" asp-action="Register">QEYDİYYAT</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-a" asp-controller="Product" asp-action="Index">MAĞAZA</a></li>
                                <li><a class="nav-a" asp-controller="Blog" asp-action="Index">BLOGLAR</a></li>
                                <li> <a class="nav-a" asp-controller="About" asp-action="Index">HAQQIMIZDA</a> </li>
                                <li><a class="nav-a" asp-controller="Contact" asp-action="Index">BİZİMLƏ ƏLAQƏ</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </section>
    </header>


    <main>

        <section id="qehremanlar">
            <div class="container">
                <div class="row my-5">
                    <div class="col-lg-12 col-md-12 col-sm-12 my-3">
                        <div class="searchOne">


                            <label>
                                <form>
                                    <input placeholder="Search" type="text" id="search-input">
                                </form>
                                
                            </label>

                        </div>
                    </div>
                    <ul id="searchlist" class="d-block">
                    </ul>
                    <div class="col-lg-12 col-md-12 col-sm-12 my-3">
                        <div class="row">
                            <h1></h1>

                            @foreach (var item in Model.Datas)
                            {

                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="cards">
                                        <div class="cardee">
                                            <h4 class="card-title">@item.Surname @item.Name</h4>
                                            <img src="~/img/Unudulmazlar-card/@item.Images" alt="">
                                            <p class="card-desc">
                                                @item.Haqqinda
                                            </p>
                                        </div>
                                    </div>
                                </div>

                            }

                        </div>
                        <div class="row my-3">
                            <ul class="pagination justify-content-center my-3">
                                <li class="page-item @(Model.HasPrevious == false ? "disabled":"")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage - 1)">Previous</a>
                                </li>
                                @for (int i = 1; i <= Model.TotalPage; i++)
                                {
                                    <li class="page-item @(i==Model.CurrentPage ? "disabled":"")"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
                                }

                                <li class="page-item @(Model.HasNext == true ? "":"disabled")">
                                    <a class="page-link" asp-action="Index" asp-route-page="@(Model.CurrentPage + 1)">Next</a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <footerr>

        <div id="my-footer" class="my-5">
            <footer class="text-center text-lg-start text-white">
                <div class="container p-4 pb-0">
                    <section class="">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">SAYT HAQQINDA</h5>

                                <p>
                                    Saytımızda Azərbaycan Respublikasının müstəqilliyi, ərazi bütövlüyü və suverenliyi uğrunda canından
                                    keçmiş qəhrəmanlarımız
                                    haqqında ətraflı məlumat əldə edə, həmçinin əlavə dəyişikliklər edə bilərsiniz. Etdiyiniz
                                    dəyişikliklər bizim tərəfimizdən
                                    baxıldıqdan sonra qısa müddət ərzində yayımlanacaqdır. Bundan əlavə saytımızda hərbi mağaza da
                                    fəaliyyət göstərir və siz
                                    rahatlıqla istənilən məhsulu sifariş edə bilərsiniz.
                                </p>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">HAQQIMIZDA</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a asp-asp-controller="About" asp-action="Index" class="text-white">haqqımızda</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">şərtlər və qaydalar</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">
                                            məxfilik siyasəti
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">FAQ</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Contact" asp-action="Index" class="text-white">bizimlə əlaqə</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">GİRİŞ</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a asp-controller="Account" asp-action="Login" class="text-white">daxil ol</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="Register" class="text-white">qeydiyyat</a>
                                    </li>
                                    <li>
                                        <a asp-controller="Account" asp-action="ResetPassword" class="text-white">şifrəmi unutmuşam</a>
                                    </li>
                                    <li>
                                        <a href="#!" class="text-white">təşəkkürlər</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">ƏLAQƏLİ SAYTLAR</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="https://unudulmazlar.az/az/infom/3758" class="text-white">unudulmazlar</a>
                                    </li>
                                    <li>
                                        <a href="https://mod.gov.az/" class="text-white">müdafiə nazirliyi</a>
                                    </li>
                                    <li>
                                        <a href="https://www.sosial.gov.az/" class="text-white">əəsmn</a>
                                    </li>
                                    <li>
                                        <a href="https://dost.gov.az/" class="text-white">dost xidməti</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
                                <h5 class="text-uppercase">SOSIAL</h5>

                                <ul class="list-unstyled mb-0">
                                    <li>
                                        <a href="https://www.facebook.com/cenab.akberoff" class="text-white">facebook</a>
                                    </li>
                                    <li>
                                        <a href="https://www.linkedin.com/in/orkhanakbarov052/" class="text-white">linkedin</a>
                                    </li>
                                    <li>
                                        <a href="https://www.youtube.com/shorts/Sk69jShsSE0" class="text-white">youtube</a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/cenab.akberoff/" class="text-white">google plus</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <hr class="mb-4" />
                    <div class="copyright">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12"></div>
                                <div class="col-lg-6 col-md-6 col-sm-12">
                                    <span>© Bütün hüquqlar qorunur | e.o baş-leytenant Orxan Əkbərov tərəfindən yaradılmışdır.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="mb-4" />
                </div>
            </footer>
        </div>
    </footerr>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/11.4.30/sweetalert2.all.min.js"></script>
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@@popperjs/core@2.10.2/dist/umd/popper.min.js"
            integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/053fc23104.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
            integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/script.js"></script>
</body>

</html>