@model ProductUpdateVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-sm-12 col-xl-12">
            <div class="bg-secondary rounded h-100 p-4">
                @*<div class="my-3 images">
                @foreach (var item in Model.Images)
                {
                <img src="~/assets/img/product/@item.ImageUrl" style="width:150px; height:150px" alt="Alternate Text" />
                }
                </div>*@
                <form method="post" enctype="multipart/form-data">
                    @*<div class="form-group col-md-3">
                        <label asp-for="Images"></label>
                        <input asp-for="Images" class="form-control">
                        <span style="color: red;" asp-validation-for="Images"></span>
                    </div>*@
                    <div class="mb-3">
                        <label asp-for="Title" class="form-label">Title</label>
                        <input asp-for="Title" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Price" class="form-label">Price</label>
                        <input asp-for="Price" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label asp-for="Description" class="form-label">Description</label>
                        <input asp-for="Description" class="form-control">
                    </div>
                    <div class="form-group">
                        <label asp-for="CategoryId">Categories</label>
                        <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.categories"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Photos">Photos</label>
                        <input class="form-control" asp-for="Photos">
                        <span asp-validation-for="Photos" class="text-danger my-1"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>





















@*@model ProductUpdateVM
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}


<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <span class="text-danger">@ViewBag.Message</span>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Product
                        </p>
                        <div class="my-3 images">
                            @foreach (var item in Model.Images)
                            {
                                <img src="~/assets/img/product/@item.ImageUrl" style="width:150px; height:150px" alt="Alternate Text" />
                            }
                        </div>
                        <form asp-controller="Shop" asp-action="Edit" enctype="multipart/form-data" class="forms-sample" method="post">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span asp-validation-for="Title" class="text-danger my-1"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description">Description</label>
                                <input class="form-control" asp-for="Description">
                                <span asp-validation-for="Description" class="text-danger my-1"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price">Price</label>
                                <input type="number" min="0" step=".01" class="form-control" asp-for="Price">
                                <span asp-validation-for="Price" class="text-danger my-1"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="CategoryId">Categories</label>
                                <select class="form-control" asp-for="CategoryId" asp-items="@ViewBag.categories"></select>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photos">Photos</label>
                                <input class="form-control" asp-for="Photos">
                                <span asp-validation-for="Photos" class="text-danger my-1"></span>
                            </div>
                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                            <a asp-controller="Shop" asp-action="Index" class="btn btn-light">Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


*@























@*@model Product
@{
    ViewData["Title"] = "Edit";
}

<div class="container-fluid mb-4">
    <form method="post" enctype="multipart/form-data">
        <div class="form-group">

            <label asp-for="Photo"></label>
            <input asp-for="Photo" class="form-control">
            <span style="color: red;" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Title">Name</label>
            <input type="text" asp-for="@Model.Title" class="form-control" id="Name" placeholder="Name" rows="3">
            <span asp-validation-for="@Model.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Price">Price</label>
            <input type="number" asp-for="@Model.Price" class="form-control" id="Price" placeholder="Price" rows="3">
            <span asp-validation-for="@Model.Price" class="text-danger"></span>
        </div>


        <div class="form-group  ">
            <label asp-for="@Model.Description">Description</label>
            <input asp-for="@Model.Description" />
            <span asp-validation-for="@Model.Description"></span>
        </div>




        <div class="form-group ">
            <label asp-for="@Model.Stock">Stock</label>
            <input asp-for="@Model.Stock" />
            <span asp-validation-for="@Model.Stock"></span>
        </div>







        <div class="form-group">
            <select style="width: 50%" asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories">
                <option selected>Categories</option>
            </select>
            <span style="color: red;" asp-validation-for="CategoryId"></span>
        </div>


        <button type="submit" class="btn btn-primary">Submit</button>

        <a asp-controller="product" asp-action="index">

            <i style="font-size:0.875rem; text-decoration:none;" class="btn btn-dark">Back</i>
        </a>
    </form>
</div>

 *@