@model Order
@{
    ViewData["Title"] = "Edit";
}


<div class="container">
    <div class="row">
        <div style="display:flex;flex-direction:column">

            <ul class="list-group" style="list-style:none">

                <li class="list-group-item">Email: @Model.AppUser.Email</li>
                <li class="list-group-item">Country: @Model.Country</li>
                <li class="list-group-item">State: @Model.City</li>
                <li class="list-group-item">Address: @Model.Address</li>
                <li class="list-group-item">Date: @Model.Date.ToString("HH:mm dd,MMMM,yyyy")</li>
                <li class="list-group-item">
                    <h3 style="color:black;">Sifarişi</h3>
                    <ul class="list-group d-flex flex-row">
                        @foreach (OrderItem item in Model.OrderItems)
                        {
                            <li class="list-group-item">
                                

                                        <img style="width:60px;" src="~/img/products/photo.ImageUrl">
                                  
                            </li>
                            <li class="list-group-item">
                                @item.Title gdfsfgdvsdvg
                            </li>
                            <li class="list-group-item">
                                $@item.Price
                                <hr />
                            </li>
                        }
                    </ul>
                </li>
                <li class="list-group-item">
                    @if (Model.Status == null)
                    {

                        <span style="background:yellow;display:inline-block; padding:3px 7px">Pending</span>

                    }
                    else if (Model.Status == true)
                    {


                        <span style="background:green;display:inline-block; padding:3px 7px">Accepted</span>

                    }
                    else
                    {

                        <span style="background:red;display:inline-block; padding:3px 7px">Rejected</span>

                    }
                </li>
                <li class="list-group-item">
                    Total price: $@Model.TotalPrice
                </li>
            </ul>



        </div>
    </div>
    <div class="row">
        <div class="align-items-center ml-5 ">


            <h4>Message</h4>

            <form method="post">
                <input class="Message" cols="60" rows="10" />
            </form>
            <div>
                <a asp-area="AdminArea" asp-controller="order" asp-action="Accept" asp-route-id="@Model.Id" class="accept btn btn-success btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-append"></i>
                    Qəbul et
                </a>
                <a asp-area="AdminArea" asp-controller="order" asp-action="Reject" asp-route-id="@Model.Id" class="reject btn btn-danger btn-icon-text">
                    <i class="mdi mdi-file-check btn-icon-append"></i>
                    Rədd et
                </a>
            </div>
        </div>


    </div>
</div>
@section Scripts{

    <script>
        $(document).ready(function () {
            $(".accept").click(function (e) {
                e.preventDefault();
                var message = $(".Message").val();
                var link = $(this).attr("href") + "/?message=" + message
                fetch(link).then(res => res.json()).then(data => {

                    location.href = "https://localhost:44338/adminarea/order"

                })
            })
            $(".reject").click(function (e) {
                e.preventDefault();
                var message = $(".Message").val();
                var link = $(this).attr("href") + "/?message=" + message
                fetch(link).then(res => res.json()).then(data => {
                    if (data.status == 200) {
                        location.href = "https://localhost:44338/adminarea/order"
                    } else {
                    }
                })
            })
        })
    </script>
 }