@model UnudulmazlarVideo
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/AdminArea/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-5">
    <form class="forms-sample" method="post" enctype="multipart/form-data">


        <div class="form-group col-md-3">
            <label asp-for="Photo">Photo</label>
            <input asp-for="Photo" class="form-control">
            <span style="color: red;" asp-validation-for="Photo"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="VideoFile">VideoFile</label>
            <input asp-for="VideoFile" class="form-control">
            <span style="color: red;" asp-validation-for="VideoFile"></span>
        </div><br />
        <div class="form-group col-md-3">
            <label asp-for="@Model.Name">Name</label>
            <input asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name"></span>
        </div><br />
        <div class="form-group col-md-3">
            <label asp-for="@Model.Rutbe">Rutbe</label>
            <input asp-for="@Model.Rutbe" />
            <span asp-validation-for="@Model.Rutbe"></span>
        </div><br />
        <div class="form-group col-md-3">
            <label asp-for="@Model.Birthday">Birthday</label>
            <input asp-for="@Model.Birthday" />
            <span asp-validation-for="@Model.Birthday"></span>
        </div><br />
        <div class="form-group col-md-3">
            <label asp-for="@Model.Haqqında">Haqqında</label>
            <textarea asp-for="@Model.Haqqında" ></textarea>
            <span asp-validation-for="@Model.Haqqında"></span>
        </div><br />




         

        <button type="submit" class="btn btn-success mt-4">Create</button>
    </form>


</div>

